# <root>/.dockerignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS (optional)
.DS_Store

# Visual Studio Code (optional)
.vscode