.home--banner {
  height: calc(var(--main-area-height) * .5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 1px;

  background: var(--main-background-02_blur);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  text-align: center;
}


@media only screen and (max-width: 600px) {

  .home--banner {
    height: calc(var(--main-area-height) * .35);
    margin-top: calc(var(--top-bar-height));
    overflow: auto;
  }

  .home--card_group {
    height: calc(var(--main-area-height) * .65);
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

}
