psi-image-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem;
}

psi-image-group > img {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  margin: 0.5rem;
  object-fit: cover;
}